.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: $font-family-logo;
  text-decoration: none;
}
.logo-web {
  color: $accent-color;
}
.logo-studio {
  color: $title-text-color;
}
