.site-contacts {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 480px) {
    align-items: center;
    & .item:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    & .item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 769px) {
    & .item {
      margin-bottom: 0;
        &:not(:last-child) {
      margin-right: 30px;
        } 
    }
  }

  .link {
    display: flex;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    /*&:last-child {
      margin-bottom: 0px;
    }*/

    &:hover,
    &:focus {
      color: $accent-color;
      outline: none;
      transition: $transition-timing-function;
    }
  }

  @media screen and (min-width: 769px) {
    flex-direction: row;

    /*.item + .item {
      margin-left: 30px;
    }*/
  }
}
.site-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;

  &:hover {
    fill: $accent-color;
    transition: $transition-timing-function;
  }
}
