.container {
  display: flex;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 769px) {
  width: 1200px;
  }

}

.header-navigation {
  background-color: $bg-color;

  @media screen and (max-width: 480px) {
    display: none;
    position: absolute;
    top: 100%;
    border-top: 1px solid #ECECEC;
    padding: 60px 0;

    &.is-open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 58px;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
  @media screen and (min-width: 481px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
}
.navigator {
  @media screen and (min-width: 481px) {
    display: flex;
    flex: 0 0 141px;
    align-items: center;
  }
}
.site-nav {
  display: flex;
  .item {
    text-align: center;
    @media screen and (max-width:480px){
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
  .link {
    position: relative;
    display: inline-block;
    padding: 8px 0;
    
    @media screen and (min-width: 480px){
      padding: 32px 0;
    }
    

    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $accent-color;
      outline: none;
      transition: $transition-timing-function;
    }
    &.current {
      color: $accent-color;
    }
    &.current::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
  @media screen and (min-width: 481px) {
    margin-left: 81px;
    .item + .item {
      margin-left: 50px;
    }
  }
}
