.list {
  @media screen and (min-width: 481px) {
    display: flex;

    & .item {
      width: calc((100% - 30px * 2) / 3);
    }

    & .item + .item {
      margin-left: 30px;
    }

    &-profilу {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 28px 90px;
      color: $bg-color;
      background-color: rgba(47, 48, 58, 0.8);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
    }
  }
}
.profily-card {
  position: relative;
}
.profili-text {
  position: absolute;
  width: 100%;
  bottom: 0;
}
