$bg-color: #FFFFFF;
$secondary-background-color: #F5F4FA;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$font-family: Roboto, sans-serif;
$font-family-logo: Raleway, sans-serif;
$footer-bg-color: #2F303A;
$transition-timing-function: 250ms cubic-bzier(0.4, 0, 0.2, 1);
